.nav  {
  display: block;
}

.nav ul li {
  display: block;
  float: left;
  padding: 30px;
  list-style: none;
}
.nav a {
 text-decoration: none;
}




.clear {
  clear: both;
}


.listing {
  margin-left: 5%;
}

table {
  width: 80%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}


label, input {
  display: block;
}


input[type=text], textarea {
    width: 50%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
}


.content-form {
    margin-left: 5%;
    padding: 20px;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}
